h4 {
    color:#4a4843;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top:2px;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
