.cc-profile-image a:before {
    border: 15px solid rgb(0, 0, 0);
}

.page-header[filter-color="gray"] {
    background: rgba(44, 44, 44, 0.2);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 44, 44, 0.2)), to(rgba(247, 246, 246, 0.6)));
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), (rgba(247, 246, 246, 0.6)));
}

.btn-primary {
    background-color: rgb(70, 70, 70);
}

.btn-primary:hover {
    background-color: rgb(85, 85, 85);
}